html {
	--grey-background: rgba(230, 230, 230);
	--light-grey-background: rgba(240, 240, 240);
}

html body {
	/* background: linear-gradient( 
		170deg,
		var(--grey-background) 35%,
		var(--light-grey-background) 35%,
		var(--light-grey-background) 65%,
		var(--grey-background) 65%)
		no-repeat; */

	background-color: var(--grey-background);

	background-size: 100% 100vh;

	min-height: 100vh;
	z-index: -2;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}