
.chat-container {
  display: flex;
  flex-flow: row;
}

.chat-box {
  width: 100%;
  justify-content: center;
  padding: 20px;
  margin: auto;
  overflow-y: scroll;
  max-height: 80vh;
  margin-bottom: 10px;
}

.conversation-container {
  position: relative;
    overflow: hidden;
}

.conversations-messages-container {
  display: flex;
  flex-flow: row;
  margin: 20px;
  border: 1px solid lightgrey;
}

.user-info-card {
  width: 30%;
}

.no-conversations {
  padding: 40px;
  margin: auto;
}

.messages-container {
  width: 70%;
  border-left: 1px solid lightgrey;
}

.conversation-user-container {
  padding: 5px;
  border-bottom: 1px solid lightgrey;
}

.user-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.user-container.active {
  background-color: #c22c28
}


.fullname-conversation {
  margin-left: 10px;
}

.user-container.active > .fullname-conversation {
  color: white;
}

.card.content.container {
  padding: 0px;
}

.input-text {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-self: center;
  margin: auto;
  width: 50%;
  padding: 5px;
  padding-left: 10px;
  border-top: 1px solid lightgrey;
  background-color: white;
}

.input-base {
  width: 90%;
}

.from-bubble {
  position: relative;
  border-radius: .4em;
  background-color: lightgrey;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  color: black;
}

.from-bubble-active {
  position: relative;
  border-radius: .4em;
  background-color: #c12c27;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  color: white;
}

.messages {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.messages-active {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.avatar {
  cursor: pointer;
}