
.redbook-page-container {
  --card-height: 480px;
  --avatar-overhang: 20px;
  --card-padding: 5px;
  margin: 20px;
}

.redbook-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: var(--card-height);
  grid-gap: 20px;
  justify-content: center;
  max-width: 1024px;
  margin: auto;
}

.overall-cards-container {
  position: relative;
  margin-top: var(--avatar-overhang);
  padding: var(--card-padding);

  /*height: 200px;*/
}

.overall-cards-container .avatar {
  position: absolute;
  left: 50%;
  top: calc(var(--avatar-overhang) * -1);
  transform: translate(-50%, 0);

  width: 90%;
  height: calc(var(--card-height) * 0.55);

  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  /*margin-top: -30px;*/
  border-radius: 6px;
}

.info-cards-container {
  height: 100%;
}

.information-container {
  position: absolute;
  bottom: 20px;
  box-sizing: border-box;
  width: calc(100% - 2 * var(--card-padding));
}

.user-info-container {
  padding-left: 20px;
  padding-right: 20px;
}

.information-unknown-container {
  position: absolute;
  height: 40%;
  bottom: 13px;
  width: calc(100% - 2 * var(--card-padding));
}

.name {
  text-align: center;
}

.avatar-header-container {
  display: flex;
  align-items: center;
}

.role-container {
  margin-top: 6px;
  padding-left: 10px;

}

.role-icon-container {
  display: flex;
  align-items: center;

}
.redbook-role-icon {
  margin-right: 10px;
  margin-top: 5px;
}


.filter-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  border: 1px solid #ccc;
  margin: auto;
  margin-bottom: 20px;
  justify-content: space-between;

}

.filter-icon {
  margin: 10px;
}

.redbook-text {
  margin: 6px;
}

.filter-icon-text-container {
  display: flex;
  align-items: center;
}

.search-filter-container {
  display: flex;
  margin-right: 10px;
  margin-top: 0px;
  padding: 10px;
  align-items: center;
}

.vl {
  border-left: 1px solid lightgrey;
  height: 100%;
  margin-left: 20px;
}

.filter-text {
  margin-top: auto;
  padding-top: 10px;
}

.hr {
  border-bottom: 1px solid lightgrey;
  max-width: 1024px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.redbook-pagination {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.page-container {
  border-right: 1px solid lightgrey;
  padding: 10px;
  color: black;
  cursor: pointer;
  height: 20px;
  width: 20px;
  text-align: center;
}

.page-container.active {
  background-color: #c22c28;
  color: white;
  cursor: pointer;
  width: 20px;
  text-align: center;
}

.next {
  padding: 10px;
  border-right: 1px solid lightgrey;
  cursor: pointer;
  height: 20px;
  width: 20px;
  text-align: center;
}

.back {
  padding: 10px;
  border-right: 1px solid lightgrey;
  cursor: pointer;
  height: 20px;
  width: 20px;
  text-align: center;
}

.start{
  padding: 10px;
  border-right: 1px solid lightgrey;
  cursor: pointer;
  height: 20px;
  width: 20px;
  text-align: center;
}

.end {
  padding: 10px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  text-align: center;
}

.message.button {
  bottom: 0;
  background-color: #c22c28;
  color: white;
}

.message.button.unknown {
  margin: 20px;
  top: 54px;
  background-color: #c22c28;
  color: white;
}

