.mainContainer {
	min-height: 100vh;

	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://redacademy.com/content/uploads/2017/09/RedAcademy_.jpg') top center no-repeat;
	background-size: cover;

	--desktop-top-margin: 15%;
}



/*
=========================
Top Nav
=========================
*/

.topNav {
	display: flex;
	flex-flow: row-reverse nowrap;

	padding: 1.5em;
	padding-right: 5%;
}

.topNav a {
	display: inline-block;
	margin: 0 1em;
}

.topNav a p {
	font-size: 1.5em;
}

.topNav a svg {
	margin-left: 0.25em;
}

/*
=========================
Main Content
=========================
*/

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: flex-start;
	justify-content: center;
	justify-items: center;
	grid-template-areas: 
		'empty signupcard';
}

.message {
	margin-top: var(--desktop-top-margin);
	margin-left: 20%;

	color: white;
}

.message h1 {
	font-weight: 400;
}

.signupCard {
	grid-area: signupcard;

	margin-top: var(--desktop-top-margin);
	width: 50%;
	max-width: 350px;
	padding: 2em 3em;

	color: white;
}

.signupCard h4 {
	font-weight: bolder;
}

.signupCard .formSwap {
	margin-top: 2em;
	margin-bottom: 0;
}